/* Gallery Section */

.gallery {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;

  .swirl {
    max-width: 420px;
    margin: 0 auto;
    float: none;
    display: block;

    &.upside-down {
      transform: rotate(180deg);
    }
  }

  .gallery-grid {
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}